---
layout : post
title : pandas.DataFrame.any() 
category : Pandas Code Snippet
tags : pandas python code
---

***

평소에 헷갈리는 pandas 사용 관련 코드 모음입니다.

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('./data/top1_1880109251922.csv', index_col=[0])
df['date'] = pd.to_datetime(df['date'])
df['Date'] = pd.to_datetime(df['date'])
df = df.set_index('Date')
df = df.asfreq('D')

df.isna()는 데이터프레임에서 NaN 요소에 해당되는 부분을 True로 리턴해준다.

In [20]:
df.isna()

             date  store  product_c  sales
Date
2018-02-01  False  False      False  False
2018-02-02  False  False      False  False
2018-02-03  False  False      False  False
2018-02-04  False  False      False  False
2018-02-05  False  False      False  False
...           ...    ...        ...    ...
2019-07-27   True   True       True   True
2019-07-28   True   True       True   True
2019-07-29  False  False      False  False
2019-07-30  False  False      False  False
2019-07-31  False  False      False  False

[546 rows x 4 columns]

여기서, dataframe.any(axis=0)인 경우엔 각 column의 row를 다 훑어서, row요소들 중 적어도 하나의 row애 True가 있으면, True를 반환합니다.

In [21]:
df.isna().any(axis=0)

date         True
store        True
product_c    True
sales        True
dtype: bool

반면에, dataframe.any(axis=1)인 경우엔 각 index별로 column요소를 다 훑어서 적어도 하나의 column에 True가 있으면 True를 반환합니다.
아래 코드를 보면, 해당 index에 data, store, product_c, sales가 모두 True이면 해당 index row는 True를 반환합니다.

In [22]:
df.isna().any(axis=1)

Date
2018-02-01    False
2018-02-02    False
2018-02-03    False
2018-02-04    False
2018-02-05    False
              ...
2019-07-27     True
2019-07-28     True
2019-07-29    False
2019-07-30    False
2019-07-31    False
Freq: D, Length: 546, dtype: bool